@model IEnumerable<Job_Finder.Models.Job>

@{
    ViewData["Title"] = "Web Scraping - Search Results";
}
<div>
    <a class="btn btn-primary" href="/Notifications/SeeAll">
        <span>See All</span>
    </a>

    <div>
        @foreach(var job in Model)
        {
            if (job.Data > ViewBag.UserData)
            {
                <div class="card text-center">
                    <div class="card-header">
                        @Html.Raw(job.Title)
                    </div>
                    <div class="card-body">
                       <a href="@job.Link">Link</a>
                    </div>
                    <div class="card-footer text-muted">
                        @Html.Raw(job.Details)
                    </div>
                    <h2><a asp-action="View" asp-route-id="@job.Id">View</a></h2>
                </div>
                <br />
            }
        }
    </div>
</div>