@model IEnumerable<Job_Finder.Models.Job>
@{
    ViewData["Title"] = "Index";
}

<hr />
<div class="row">
    <form asp-action="Search">
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </form>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Company</th>
                    <th>Details</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var job in Model)
                {
                    <tr>
                        <td>@Html.Raw(job.Title)</td>
                        <td>@Html.Raw(job.Company)</td>
                        <td>@Html.Raw(job.Details)</td>
                        <td>@Html.Raw(job.Link)</td>
                    </tr>
                }
            </tbody>
        </table>
</div>





