@model Job_Finder.Models.Search

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>Search</h4>
<hr />
<div class="row">
    <h1>Test</h1>
    < div class="col-md-4">
        <form asp-action="Search">
            @* <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>  *@
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div> 
</div>



@* @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} *@
