<form asp-action="SaveSubject" method="post">
    <div class="form-group">
        <label for="emailText">Email Content</label>
        <textarea class="form-control" id="emailSubject" name="emailSubject" rows="3">@ViewBag.Text</textarea>
    </div>
    <div>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
