<div class="center-card">
    <div class="card" style="width: 50rem;">
        <img class="card-img-top" src="https://i.pinimg.com/originals/ff/d2/c2/ffd2c238fb713dbf7872626b493f2a81.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Your email request has been received</h5>
            <p class="card-text">This may take about 5 minutes.</p>
            <a href="Index" class="btn btn-primary">Go back</a>
        </div>
    </div>
</div>